<div class="container">
<div class="row">
 <div class="col-3">
  <%= render 'users/user', user: @user, book: @book %>
 </div>
<div class="col-9">
  <h2>Books</h2>
  <table class="table">
   <thead>
    <tr>
     <th>Title</th>
     <th>Opinion</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <td></td>
     <td></td>
    </tr>
   </tbody>
  </table>
   </tr>
 </div>
</div>
</div>
